<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="m_to_n" transaction-type="RESOURCE_LOCAL">

        <class>ch.so.agi.mton.entity.Pet</class>
        <class>ch.so.agi.mton.entity.InsuranceMembership</class>
        <class>ch.so.agi.mton.entity.InsuranceCompany</class>
    </persistence-unit>
</persistence>
