<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="simi" transaction-type="RESOURCE_LOCAL">

        <class>ch.so.agi.simi.entity.DataProduct</class>
        <class>ch.so.agi.simi.entity.SingleActor</class>
        <class>ch.so.agi.simi.entity.FacadeLayer</class>
        <class>ch.so.agi.simi.entity.PostgresDS</class>
        <class>ch.so.agi.simi.entity.PropertiesInList</class>
        <class>ch.so.agi.simi.entity.ProductSet</class>
    </persistence-unit>
</persistence>
